<p class = 'text-success'><%= notice %></p>


<div class = 'container '>
  <% if @book.errors.any? %>
    <h3 class = 'text-danger'><%= @book.errors.count %>error prohibited this book from being saved:</h3>
    <% @book.errors.full_messages.each do |message| %>
      <ul>
        <li class = 'text-danger'>
          <%= message %>
        </li>
      </ul>
        <% end %>
    <% end %>
  <div class = 'row'>
    <%= render 'share/userinfo', user: @user, new_book: @book %>
    <%= render 'books/list', books: @books %>
  </div>
</div>